
.Filter-Container { 
    display: grid; 
    grid-template-columns: 2fr 2fr; 
    grid-gap: 1px; 
    width: 50%; 
} 
.child { 
    margin: 5px; 

}

.Chart-Holder {

    background-color: #ffffff;
    border-radius: 20px;
}



/* Deggree Slider Start */
.deg-slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 500px;  
    height: 80px;
    background: #363430; 
    border-radius: 20px;  
    outline: #7a7369;

}

.deg-slider input[type="number"]{
    width: 50px;
    height: 30px;
    background: #ddd;
    border: 1px solid #fff; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.deg-slider input [type = "number"]::-webkit-outer-spin-button,
.deg-slider input [type = "number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.deg-slider .deg-range-slider {
    position: relative;
    width: 300px;
    height: 5px;
    background: #363430;
    outline: none;
    top: 1px;
    margin:10px
}

.deg-slider .deg-range-slider .progress{
    left: 0%;
    right: 0%;
    height: 100%;
    background: #7a7369;
    border-radius: 50px;
    position: absolute;
}

.deg-slider .deg-range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

.deg-slider .deg-range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #7a7369;
    border-radius: 50px;


}
/* Deggre Slider End */

/* mod Slider Start */
.mod-slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 500px;  
    height: 80px;
    background: #363430; 
    border-radius: 20px;  
}

.mod-slider input[type="number"]{
    width: 50px;
    height: 30px;
    background: #ddd;
    border: 1px solid #fff; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.mod-slider input [type = "number"]::-webkit-outer-spin-button,
.mod-slider input [type = "number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.mod-slider .mod-range-slider {
    position: relative;
    width: 300px;
    height: 5px;
    background: #363430;
    outline: none;
    top: 1px;
    margin:10px
}

.mod-slider .mod-range-slider .mod-progress{
    left: 0%;
    right: 0%;
    height: 100%;
    background: #7a7369;
    border-radius: 50px;
    position: absolute;
}

.mod-slider .mod-range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

.mod-slider .mod-range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #7a7369;
    border-radius: 50px;


}
/* Mod Slider End */

/* bet Slider Start */
.bet-slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 500px;  
    height: 80px;
    background: #363430; 
    border-radius: 20px;  
}

.bet-slider input[type="number"]{
    width: 50px;
    height: 30px;
    background: #ddd;
    border: 1px solid #fff; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.bet-slider input [type = "number"]::-webkit-outer-spin-button,
.bet-slider input [type = "number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.bet-slider .bet-range-slider {
    position: relative;
    width: 300px;
    height: 5px;
    background: #363430;
    outline: none;
    top: 1px;
    margin:10px
}

.bet-slider .bet-range-slider .bet-progress{
    left: 0%;
    right: 0%;
    height: 100%;
    background: #7a7369;
    border-radius: 50px;
    position: absolute;
}

.bet-slider .bet-range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

.bet-slider .bet-range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #7a7369;
    border-radius: 50px;


}
/* bet Slider End */

/* eig Slider Start */
.eig-slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 500px;  
    height: 80px;
    background: #363430; 
    border-radius: 20px;  
}

.eig-slider input[type="number"]{
    width: 50px;
    height: 30px;
    background: #ddd;
    border: 1px solid #fff; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.eig-slider input [type = "number"]::-webkit-outer-spin-button,
.eig-slider input [type = "number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.eig-slider .eig-range-slider {
    position: relative;
    width: 300px;
    height: 5px;
    background: #363430;
    outline: none;
    top: 1px;
    margin:10px
}

.eig-slider .eig-range-slider .eig-progress{
    left: 0%;
    right: 0%;
    height: 100%;
    background: #7a7369;
    border-radius: 50px;
    position: absolute;
}

.eig-slider .eig-range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

.eig-slider .eig-range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #7a7369;
    border-radius: 50px;


}
/* eig Slider End */